html, body, [class*="css"] {
    font-family: 'Garet', sans-serif; 
    font-style: normal;
    /* font-size: 18px; */
    font-weight: 300;
    src: url("fonts/Garet-Book.ttf") format("truetype");
}

@font-face {
    font-family: "Garet";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/Garet-Book.ttf") format("truetype");
}

@font-face {
    font-family: "GaretBold";
    font-style: bold;
    font-weight: 500;
    color: #009EE7;
    src: url("fonts/Garet-Heavy.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GaretBold', sans-serif;
    font-style: bold;
    font-weight: 800;
    color: #009EE7;
}