@font-face {
    font-family: "StagSans";
    font-style: normal;
    font-weight: 500;
    src: url("fonts/Garet-Book.ttf") format("truetype");
}

@font-face {
    font-family: "StagSansBold";
    font-style: bold;
    font-weight: 300;
    src: url("fonts/Garet-Heavy.ttf") format("truetype");
}