html, body, [class*="css"] {
    font-family: 'Garet', sans-serif; 
    font-style: normal;
    /* font-size: 18px; */
    font-weight: 500;
    src: url("fonts/Garet-Book.ttf") format("truetype");
}

@font-face {
    font-family: "Garet";
    font-style: normal;
    font-weight: 500;
    src: url("fonts/Garet-Book.ttf") format("truetype");
}

@font-face {
    font-family: "GaretBold";
    font-style: bold;
    font-weight: 300;
    src: url("fonts/Garet-Heavy.ttf") format("truetype");
}